@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:300,400,500,700,900');
@import 'reset';

*{
	box-sizing: border-box;
}

body {
	background: #0A0309;
}

header {
	font-family: 'Raleway', sans-serif;
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 25px 0;
	position: absolute;
	z-index: 3;
	nav {
		align-self: center;
		a {
			text-decoration: none;
			color: white;
			padding: 0 15px;
			cursor: pointer;
			&:hover {
				border-bottom: 3px solid #F5B931;
			}
		}
	}
}

.top {
	position: relative;
	height: 100vh;
	.bg-blurred {
		background-image: linear-gradient(45deg, rgba(10,3,9,1) 0%,rgba(77,10,90,0.33) 67%,rgba(125,185,232,0) 100%),url('/images/theloveinns.jpg');
		background-size: cover;
		height: 100vh;
		width: 100%;
		filter: blur(30px);
		position: absolute;
		z-index: 1;
	}

	.title {
		position: absolute;
		z-index: 2;
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			color: white;
			font-family: 'Permanent Marker', cursive;
			font-size: 3em;
			text-align: center;
		}
	}
} /* end of top */

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.bio {
	color: white;
	background-color: black;
	padding: 150px 0;
	position: relative;
	z-index: 3;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	p {
		width: 50%;
		line-height: 1.5;
		padding: 0 50px;

		a {
			text-decoration: none;
			color: #D498FE;
		}
	}
	
	.logo-bio {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 50px;

		img {
			max-width: 100%;
			border-radius: 50px;
		}
	}
} /* end of bio */

.music {
	background: #8EA0C6;
	padding: 150px 0;

	.info-album {
		display: flex;
		padding: 0 50px;

		.cover-album {
			width: 50%;
			display: flex;

			border-radius: 5px;
			overflow: hidden;
		}
		
		.album {
			width: 50%;
			padding: 50px;
			font-family: 'Raleway', sans-serif;
			text-transform: capitalize;

			.title-album {
				font-size: 1.5rem;
				font-weight: 500;
			}

			.tracks-album {
				font-size: 1.05rem;
				font-weight: 300;
				padding: 15px 0;
		
				li {
					padding: 5px 10px;
				}
				
			}
		}
	}
} /* end of music */

.media {
	background: #F5B931;
	padding: 150px 0;
	
	.title-videos {
		color: white;
		background: rgba(0,0,0,0.5);
		border-radius: 5px;
		overflow: hidden;
		text-transform: uppercase;
		width: 100%;
		max-width: 500px;
		font-size:1.5rem;
		font-weight: 300;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		padding: 25px;
		margin: 0 auto 80px auto;
	}

	.videos {
		padding: 0 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;

		.video {
			border-radius: 5px;
			overflow: hidden;
			height: 300px;
			
			iframe {
				height: 100%;
			}
		}
	}
} /* end of media */

.shows {
	background: black;
	color: white;
	font-family: 'Raleway', sans-serif;
	
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 150px 0;
	}


	.title-shows {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		text-transform: uppercase;
		padding: 25px;
		margin: 0 auto 50px auto;
	}

	.dates {
		text-align: center;
		font-weight: 300;

		.note {
			font-style: italic;
		}
		/*li {
			display: inline-block;
			span {
				display: block;
			}
		}*/
	}
} /* end of shows */

footer {
	color: white;
	background: #1b1b1b;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	padding: 0 0 25px 0;

	.banner-image {
		background: url('/images/banner.png') no-repeat center center;
		background-size: cover;
		height: 180px;
		filter:saturate(25%) contrast(150%);
	}

	h6 {
		padding: 25px 0 0 0;
		text-align: center;
	}

	.jo {
		text-align: center;

		a {
			text-decoration: none;
			color: #99E9FD;
		}
	}
} /* end of footer */




